
* {
    box-sizing: border-box;
}

/*------ general styling------*/
.grid-container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

a {
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: 300;
}

h2 {
    font-weight: 400;
    font-size: 17px;
}

h2, 
h3 {
    margin-left: 14px;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

h4 {
    font-weight: 290;
}

p {
    margin: 0;
}

.traffic,
.daily,
.mobile,
.social,
.members-section,
.activity,
.message {
    border-bottom: solid 1px #00000033;
}

/*-----   Header  ------*/
header {
    max-width: 100%;
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background: #8288ef;
    color: #fff;
    padding: 0.7em;
}

.bell {
    display: flex;
}

.student {
    width: 2.8em;
    border-radius: 50%;
    margin: 10px;
}

.bell-icon {
    cursor: pointer;
    margin-right: 0.9em;
    width: 1.5em;
    height: auto;
    fill: #fff;
    transition: transform .4s ease-out;
}

span.bell-icon {
    animation: horizontal-shaking 0.35s infinite;
}

.bell-icon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    transform: scale(1.2);
    fill: gold;

}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
}

.dot {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #68f15b;
    position: relative;
    right: 15px;
    top: 2px;
}

.notifications {
    display: flex;
    align-items: center;
    height: 2.8em;
    border-left: solid 1px #ffffff34;
}

/*------ navigation bar ------*/
.nav-icon {
    width: 2.2em;
    height: auto;
    fill: #fff;
    margin: 12px;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background: #59559b;
    position: sticky;
    top: 0;
}

main {
    display: grid;
    grid-area: main;
}

/*------  Dashboard  ------*/
.main-header {
    display: flex;
}

.tab {
    padding: 25px;
    width: 100%;
    margin-left: 16px;
    background: #f8f6f6;
    border-bottom: solid 1px #00000033;
    border-left: solid 1px #00000033;
}

.alert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f0efef;
    background: #8288ef;
    width: 100%;
    margin:10px;
    border-radius: 4px;
    padding: 10px 15px;
}

/*------  Charts ------*/
.traffic {
    display: flex;
    flex-direction: column;
}

.traffic-nav {
    display: flex;
    padding: 0 10px;
}

.traffic-nav-link {
    list-style-type: none;
    margin-right: 14px;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 8px;
}

.traffic-nav-link:active,
.traffic-nav-link:hover {
    color: #fff;
    background: #68f15b;
    border-radius: 20% / 50%;
}

#mobile-chart {
  padding: 10px;
}

canvas {
    max-width: 95%;
    margin: 10px;
}

/*------  Social Network  ------*/
.social-container {
    display: flex;
    align-items: center;
    margin: 0 16px 16px;
    border: solid 1px #00000033;
    border-radius: 4px;
    background: #f8f6f6;
}

.social-image {
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 4.3em;
    height:4.3em;
    border-radius: 50%;
    background: #8288ef;
}

.social-icon {
    width: 2em;
    height: auto;
    fill: #fff;
}

.social-site {
    color: #8288ef;
    font-size: 1.4em;
    margin: auto;
}

.s-count {
    font-size: 2.5em;
    margin: auto;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;;
    color: #7c7c7c;
}

/*------     Members     ------*/
.members-section {
    display: flex;
    flex-direction: column;
}

a {
    color: #9ea2f2;  
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #00000033;
    text-align: center;
    margin: 10px;
    padding: 14px 10px;
    color: #4d4d4d;
}

.members-container:nth-of-type(4) {
    border-bottom: none;
} 

.profile-image {
    width: 4.3em;
    height:4.3em;
    border-radius: 50%;
}

.activity {
    display: flex;
    flex-direction: column;
}

/* -----  Message user ----- */
.message {
    display: flex;
    flex-direction: column;
}

.widget-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.form-field,
.form-area {
    width: 95%;
    margin-bottom: 10px;
    background: #f8f6f6;
    border: solid 1px #00000033;
    border-radius: 4px;
}

.form-field::placeholder,
textarea::placeholder {
    opacity: 0.4;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}

.form-field {
    height: 3em;
}

.form-area {
    height: 7em;
}

.button-send {
    text-transform: uppercase;
    color: #fff;
    background: #8288ef;
    height: 3em;
    width: 95%;
    border: solid 1px #00000033;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* -----  Settings ----- */
.settings {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

/* -----  Toggle swich----- */
.toggle-container {
    width: 95%;
}

.toggle-swich {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.toggle-class {
    -webkit-appearance: none;
    position: relative;
    width: 85px;
    height: 37px;
    border-radius: 25px;
    background-color: #8288ef;
    transition: .3s ease-out;
    outline: slategrey;
    cursor: pointer;
    border: solid 2px #c2bebe;
}

.toggle-class::before {
    content: "ON";
    position: absolute;
    top: 30%;
    left: 11%;
    color: #fff;
}

.toggle-class:checked:before {
    content: "OFF";
    top: 28%;
    left: 59%;
}

.toggle-class:after {
    content: "";
    position: absolute;
    transform: translate(200%, 14%);
    border-radius: 50%;
    height: 1.35rem;
    width: 1.35rem;
    background-color: #fff;
    transition: right .3s ease-out;
    border: solid 2px #c2bebe;
}

.toggle-class:checked::after {
    right: 130%;
}

#timezone {
    width: 95%;
}

.form-field {
    color: #7c7c7c;
}

.settings-button {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}


.button-primary,
.button-disabled {
    text-transform: uppercase;
    color: #fff;
    height: 3em;
    width: 47%;
    border: solid 1px #00000033;
    border-radius: 4px;
    margin-bottom: 1em;
}

.button-primary {
    background: #8288ef;
}

.button-disabled {
    background: #a8a2a2;
}


/* -----  Media Querys ----- */

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    nav {
    display: block;
    margin-right: 3px;
    }

    .nav-icon {
        position: sticky;
        top: 20px;
        margin-left: 6px;
    }

    .charts-icon {
        top: 77px;
    }

    .members-icon {
        top: 135px;
    }

    .settings-icon {
        top: 194px;
    }

    .traffic-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main {
        display: grid;
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .mobile {
        grid-column: span 1;
        width: 47vw;
    }

    .mobile {
        border-left: solid 1px #00000033;
        border-bottom: solid 1px #00000033;
    }

    .main-header,
    .alert,
    .members-section,
    .message,
    .activity,
    .settings {
        grid-column: 1 / span 2;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-container {
        width: 33%;
        margin: 0 10px 16px;
    }
    
    .members-container {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .members-text {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 10px;
    }

    .arrow::before {
        content:">";
        font-size: 20px;
        font-weight: 200;
    }
    
    .toggle-container {
        display: flex;
        flex-direction: column;
        width: 45%; 
    }
}

@media (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    nav {
        display: block;
    }

    .nav-icon {
        position: sticky;
        top: 20px;
        margin-left: 6px;
    }

    .charts-icon {
        top: 77px;
    }

    .members-icon {
       top: 135px;
    }

   .settings-icon {
       top: 194px;
    }

    .main {
        display: grid;
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .traffic-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .daily {
        grid-column: 1 / span 1;
        width: 48vw;
    }

    .main-header,
    .alert {
        grid-column: 1 / span 2;
    }

    .members-section,
    .message {
        grid-column: 1 / span 1;
    }

    .activity,
    .settings {
        grid-column: 2 / span 1;
        border-left: solid 1px #00000033;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-container {
        width: 33%;
        margin: 0 10px 16px;
    }
    
    .members-container {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .members-text {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 10px;
    }

    .arrow::before {
        content:">";
        font-size: 20px;
        font-weight: 200;
    }
    
    .toggle-container {
        width: 55%;
    }

    .message {
        border-bottom: none;
    }
}