
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    width:100%;
    margin:0;
    padding:0;
    color:black;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 110px 90px 1fr ;
}



/*------------------------
|         Header         |
------------------------*/
header {
    font-size: 19px;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(124, 122, 208);
    color: white; 
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.web-app-tm {
    color: white;
    flex-grow: 2;
    padding-left: 15px;
    font-weight: 200;
}

.bell {
    margin: 40px 10px 0 0;
    width: 37px;
    justify-content: right;
}

.bell-fill {
    fill:white;
}

span.bell-fill {
    animation: horizontal-shaking 0.35s infinite;
}

.bell-fill:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    transform: scale(1.2);
    fill: gold;
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
}

.bell-dot {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #68f15b;
    position: relative;
    right:17px;
    top: 30px;
}

.student-image {
    border-radius: 50%;
    max-width: 65px;
    justify-content: right;
    padding: 0 12px 0 12px;
}

.student-div {
    margin: auto 5px 0 7px;
    justify-content: right;
    border-left: rgb(160, 160, 160) solid 1px;
    padding-left:10px;
}

.student-name {
    margin-right: 10px;
    margin-top: 39px;
    font-weight: 300;
}




/*------------------------
|           NAV          |
------------------------*/
.nav-class{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    background-color: rgb(83, 85, 116);
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
   
}

.nav-container {
    display: flex;
    margin: auto 12px;
    flex-direction: row;
    justify-content: space-between;
    color: transparent;
}

.icon-nav{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.icon-fill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    fill:white;
    width: 52px;
    padding: 9px 10px 9px 18px;
}

.icon-settings {
    margin-right: 35px;
}



/*------------------------
|          MAIN          |
------------------------*/
main {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 20px;
}

.dash {
    display: flex;
    flex-direction: row;
}

.dashboard {
    display: flex;
    flex-direction: column;
    font-size: 29px;
    font-weight: 500;
}

.emty-flex {
    flex-direction: row;
    display: flex;
    width: 100% ;
    height: 80px;
    background-color:rgb(249, 249, 249);
    border-left: solid 1px  rgb(205, 205, 205);
    border-bottom: solid 1px rgb(205, 205, 205);
    margin-left: 20px;
}

#alert {
    justify-content: center;
    font-weight: 200;
    font-size: 23px;
    margin: 20px 0 30px 0;
    color: white;
    background-color: rgb(124, 122, 208);
    padding: 6px ;
    width: 95%;
    height: 45px;
    border-radius: 9px;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px ;
   
    
}

.alert-banner-p {
    margin: 9px 0 0 0;
}



/*------------------------
|    TRAFFIC SECTION     |
------------------------*/
.traffic-section {
    border-bottom: solid 1px rgb(205, 205, 205);
    margin: 0 0 20px -30px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.traffic-container {
    margin: 0 0 20px 0;
}

.traffic-time {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    margin: 0 80px 0 15px;
}

.traffic-title {
    font-size: 24px;
    margin: 15px auto 10px 15px;
    font-weight: 500;
}

.time {
    justify-content: space-between;
   
    font-size: 22px;
    font-weight: 500;
    padding: 10px 20px;
    color: black;
    margin: 0px 0px 10px 0;
}

.time:active,
.time:hover {
    color: #fff;
    background: #92ce8f;
    border-radius: 22% / 50%;
}

.line-chart {
   margin: 0 20px 30px 20px;
   font-size: 30px;
}

#traffic-chart {
    width: 450px;
    max-height: 180px;
    margin: 0;
    font-size: 30px;
}



/*------------------------
|  DAILY TRAFFIC SECTION |
------------------------*/
.daily-traffic-section {
    border-bottom: solid 2px rgb(205, 205, 205);
    margin-left: -30px;
    padding-left: 15px;
}

.daily-title {
    font-size: 24px;
    margin: auto auto 50px 15px;
    font-weight: 500;
}

#daily-chart {
    margin:10px 30px 30px 20px;
}



/*------------------------
|  MOBILE USERS SECTION  |
------------------------*/
.mobile-users-section {
    border-bottom: solid 1px rgb(205, 205, 205);
 

}

.mobile-title {
    font-weight: 500;
}

#mobile-chart {
    margin:50px 40px 30px 15px;
}



/*------------------------
|     SOCIAL SECTION     |
------------------------*/
.social-stats-section {
    border-bottom: solid 1px rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.social-title {
    font-size: 26px;
    font-weight: 500;
}

.social-div {
    display: flex;
    flex-direction: row;
    margin: 5px 20px 22px 0px;
    border: solid 2px #05050533;
    border-radius: 10px;
    background: #f1f0f0;
}

.social-icon-div {
    background-color: rgb(124, 122, 208);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 25px;
    height: 55px;
}

.social-fill {
    width: 60px;
    fill: white;
}

.social-text{
    font-size: 30px;
    color: rgb(78, 76, 181);
    margin: 0;
    font-weight: bold;
}

.social-numbers{
    margin:0;
    font-size: 60px;
    color: rgb(118, 118, 118);
    padding: 0;
    font-weight: 300;
}

.text-numbers-div {
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
}



/*------------------------------------
| NEW MEMBERS /RECENT ACTIVITY SECTION|
-------------------------------------*/
.titles {
    font-weight: 500;
}
.new-member-div {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgb(180, 180, 180);
    margin: 0 0 0 -25px;
}

.members-images {
    border-radius: 50%;
    width: 100px;
}

.members-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: 300;
    padding-bottom: 30px;
    margin: 30px 30px 0 30px;
    border-bottom: solid 1px rgb(180, 180, 180);
}

.members-div.four {
    border: none;
}

.date, .p-member {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(114, 114, 211);
}

.bold-word {
    font-weight: 600;
}


/*------------------------------
|  MESSAGE USER SECTION/FOOTER |
------------------------------*/
.message-footer{
    margin-left: 20px;
}
.message-title  {
    margin: 25px auto 15px 30px;
    font-weight: 500;
}

.user-box {
    margin: 10px 0px 10px 30px;
    padding: 20px 10px;
    width: 86%;
    border: solid 2px rgb(213, 213, 213);
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: 23px ;
}

.message-box {
    margin: 10px 0px 10px 30px;
    padding: 25px 10px;
    width: 86%;
    min-height: 150px;
    border: solid 2px rgb(213, 213, 213);
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: 23px ;
    justify-content:flex-start;
}

::placeholder {
    position: absolute;
    top: 5px;
    color: #b3b3b3;
    padding: 15px 5px;
}

.send-button {
    text-transform: uppercase;
    color: #fff;
    background: rgb(124, 122, 208);
    font-size: 23px;
    width: 91%;
    border: solid 1px rgb(213, 213, 213);
    border-radius: 7px;
    margin: 10px 0px 30px 30px;
    padding: 20px 10px;
}

.message-section {
    border-bottom: solid 2px rgb(180, 180, 180);
    margin-left: -25px;
}



/*------------------------
|         SETTINGS       |
------------------------*/
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}

.toggle {
    font-weight: 300;
}

.swich {
    -webkit-appearance: none;
    position: relative;
    width: 160px;
    height: 55px;
    border-radius: 25px;
    background-color: rgb(124, 122, 208);
    transition: background .3s;
    outline: none;
    cursor: pointer;
    margin: 20px;
    border: solid 3px rgb(184, 184, 184);
}

.swich:checked::before{
    content: 'OFF';
    top: 23%;
    left: 60%;
    color:white;
}

.swich::before{
    content: 'ON';
    position: absolute;
    top: 23%;
    left: 10%;
    color:white;
}

.swich::after {
    content: '';
    position: absolute;
    top:50%;
    left:83%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white;
    border: solid 3px rgb(184, 184, 184);
    transition: left .3s;
}

.swich:checked {   
    background-color: #ccc;
}

.swich:checked::after {
    left: 17%;
}

footer {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end:1;
}

.timezone-box {
    -webkit-appearance: none;
    margin: 40px 0 10px;
    padding: 20px;
    width: 100%;
    border: solid 2px rgb(213, 213, 213);
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: 23px ;
    color: #9d9d9d;
}

.select:after {
    content: '\25BE';
    position: absolute;
    top: 45px;
    right: 25px;
    bottom: 0;
    font-size: 45px;
    text-shadow: 1px 1px 10px rgb(127, 127, 127);
    background: #f5f5f5;
    color: rgb(124, 122, 208);
    padding: 3px;
    pointer-events: none;
    height: 45px;
}

.select {
    position: relative;
    width: 95%;
}

.save-button {
    text-transform: uppercase;
    color: #fff;
    background: rgb(124, 122, 208);
    font-size: 23px;
    width: 46%;
    border: solid 1px rgb(213, 213, 213);
    border-radius: 7px;
    margin: 10px 0;
    padding: 20px 10px;
}

.cancel-button {
    text-transform: uppercase;
    color: #fff;
    background: rgb(172, 172, 172);
    font-size: 23px;
    width: 46%;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 7px;
    margin: 10px 10px 40px;
    padding: 20px 10px;
}

.arrow-activity {
  display: none;
}



/*-----------------------------------------------------
|                     Media 768px                     |
------------------------------------------------------*/
@media (min-width: 768px) {

    body {
        
        font-weight: 200;
   
        color:rgb(0, 0, 0);
        display: grid;
        grid-template-columns:70px 1fr;
        grid-template-rows: 72px 1fr;
    }



    /*------------------------
    |         Header         |
    ------------------------*/
    header {
        font-weight: lighter;
        font-size: 11px;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: rgb(124, 122, 208);
        color: white; 
        display: flex;
        flex-direction: row;
        padding: 8px 0 0 10px;
        
        justify-content: space-between;
        font-weight: bold;
    }

    h1 {
        color: white; 
        font-weight: bold;
        flex: 2;
        margin-left: -15px;
    }

    .bell {
        margin: 18px 3px 0 auto;
        max-width: 25px;
    }

    .bell-dot {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background: #68f15b;
        position: relative;
        right:10px;
        top: 14px;
        margin-right: 5px;
    }

    .student-image {
        border-radius: 50%;
        padding-left: 10px;
        width: 37px;
        padding: 5px 10px 5px 15px;
    }
    
    .student-div {
        margin-top: 5px;
        margin-bottom: 10px;
        border-left: rgb(160, 160, 160) solid 1px;
        padding: 0;
    }
    
    .student-name {
        margin: 20px 10px 0 0px;
    }



    /*------------------------
    |           NAV          |
    ------------------------*/
    .nav-class{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: rgb(94, 90, 123);
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .nav-container {
        position:fixed;
        display: block;
        flex-direction: row;
        margin: 15px 0 0 8px;
        color: transparent;
    }
    
  
    .icon-fill {
        fill:white;
        width: 35px;
        padding: 9px 10px 9px 10px;
        margin-bottom: 10px;
    }
    
    .icon-settings {
        margin-right: 35px;
    }



    /*------------------------
    |          MAIN         |
    ------------------------*/
    main {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 2; 
        margin: 0 0 0 30px;
    }

    .dashboard {
        font-size: 20px;
    }

    .emty-flex {
        flex-direction: row;
        display: flex;
        width: 100% ;
        height: 55px;
        background-color:rgb(249, 249, 249);
        border-left: solid 1px  rgb(205, 205, 205);
        border-bottom: solid 1px rgb(205, 205, 205);
        margin-left: 17px;
    }
    
    #alert {
        justify-content: center;
        font-weight: 200;
        font-size: 15px;
        margin: 20px 0 10px 0;
        color: white;
        background-color: rgb(124, 122, 208);
        padding: 3px 1px;
        width: 97%;
        height: 28px;
        border-radius: 5px;
    }
    
    .alert-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .alert-banner-p {
        margin: 5px 0 0 0;
    }



    /*------------------------
    |    TRAFFIC SECTION     |
    ------------------------*/
    .traffic-section {
        border-bottom: none;
    }

    .traffic-container {
        display: flex;
        flex-direction: row;
    }

    .traffic-title {
        flex-grow: 2;
        font-size:17px;
    }

    .traffic-time {
        margin-right: 5px;
        font-size: 10px;
    }

    .time {
        justify-content: space-between;
        list-style-type: none;
        font-size: 15px;
        font-weight: 300;
        padding: 10px;
        color: black;
    }
    
    .time:active,
    .time:hover {
        color: #fff;
        background: #89db85;
        border-radius: 22% / 50%;
    }

    .line-chart {
        margin-bottom: 5px;
    }

    #traffic-chart {
        width: 450px;
        max-height: 280px;
        margin: 0;
        font-size: 30px;
    }



    /*------------------------
    | DAILY TRAFFIC SECTION  |
    ------------------------*/
    .grafic-section{
        display: flex;
        flex-direction: row;
        margin-right: 0px;
        padding-right: 0px;
        margin-left: -30px;
        border-top:solid 1px rgb(205, 205, 205);
        border-bottom:solid 1px rgb(205, 205, 205);
    }
    
    .daily-title {
        margin: 20px auto auto 10px;
        font-size: 17px;
    }

    .daily-traffic-section {
        border-right: solid 1px rgb(205, 205, 205);
        margin-left: 0px;
        border-bottom: none;
    }

    #daily-chart {
        height: 180px;
        width: 350px;
        margin:30px 25px 30px 10px;
    }



    /*------------------------
    |  MOBILE USERS SECTION  |
    ------------------------*/
    .mobile-title {
        margin:20px auto 0 30px;
        font-size: 17px;
    }

    .doughnut-chart {
        margin: 0 auto auto 30px;
        width: 370px;
    }

    #mobile-chart {
        margin-top: 35px;
    }

    .mobile-users-section {
        border: none;
    }



    /*------------------------
    |     SOCIAL SECTION     |
    ------------------------*/
    .social-stats-section {
        border-bottom: solid 1px rgb(205, 205, 205);
        margin: auto 0 auto -30px;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
    }

    .social-stats-div {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }

    .social-title {
        font-size: 17px;
    }
    
    .social-div {
        margin: 5px 10px 22px 0px;
        width:100%;
    }
    
    .social-icon-div {
        margin:20px;
        padding: 15px;
        height: 32px;
    }

    .social-fill {
        width:32px;
    }
    
    .social-text{
        font-size: 19px;
    }
    
    .social-numbers{
        font-size: 37px;
    }
    
    .text-numbers-div {
        display: flex;
        flex-direction: column;
        margin:0 15px 0 0;
        justify-content: center;
    }


    /*------------------------
    |   NEW MEMBERS SECTION  |
    ------------------------*/
    .titles {
        font-size: 17px;
    }

    .new-member-div {
        border-bottom: solid 1px rgb(180, 180, 180);
        margin-left: -30px;
    }
    
    .members-div {
        display: flex;
        flex-direction: row;
    }

    .members-images {
        border-radius: 50%;
        width: 70px;
    }

    .p-member {
        flex-grow: 2;
        padding-left: 20px;
        font-size: 18px;
    }

    .date {
        justify-content: right;
        align-items:end;
        text-align: right;
    }

    .members-div {
        justify-content: left;
        text-align: left;
        font-size: 25px;
        color: black;
        font-weight: 300;
        padding-bottom: 30px;
        margin: 30px 30px 0 30px;
        border-bottom: solid 1px rgb(180, 180, 180);
    }

    .members-div.four {
         border:none;
    }

    .date {
        margin:0;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: rgb(114, 114, 211);
    }

    .members-div.four {
        border:none;
    }



   /*--------------------------
    | RECENT ACTIVITY SECTION |
    -------------------------*/
    .arrow-activity {
        display: inline;
        color:rgb(124, 122, 208);
    }



   /*------------------------
    |  MESSAGE USER/FOOTER  |
    ------------------------*/
    .message-footer {
        margin: 0;
    }
    .message-title {
        font-size: 17px;
    }

    .message-section {
        margin: 0;
    }

    .user-box {
        width: 91.3%;
        font-size: 17px;
        height: 40px;
        padding:15px 0 0 10px;
    }

    .message-box {
        width: 90%;
        font-size: 17px;
    }

    .send-button {
        height: 50px;
        width: 93%;
        font-size: 17px;
        padding-top: 15px;
    }



    /*------------------------
    |        SETTINGS        |
    ------------------------*/
    footer {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end:3;
    }

    .settings {
        margin-left: 30px;
    }

    .form {
        justify-content: flex-start;
    }

    .toggle {
        font-size: 18px;
    }

    .swich {
        width: 15%;
        height: 43px;
        margin-left: 50px;
    }

    .swich.public {
        margin-left: 90px;
    }

    .swich:checked::before{
        font-size: 19px;
    }

    .swich::before{
        font-size: 19px;
    }

    .swich::after {
        height: 23px;
        width: 25px;
    }

    .timezone-box {
        margin-left: 0;
        height: 50px;
        width: 97%;
        font-size: 17px;
        padding: 4px 0 0 15px;
    }

    .select{
        width: 99%;
    }

    .select:after {
        top: 45px;
        right: 41px;
        bottom: 0;
        font-size: 30px;
        text-shadow: 1px 1px 5px rgb(127, 127, 127);
        margin:0;
        padding: 0px;
        pointer-events: none;
        height: 25px;
    }

    .save-button {
        margin-left: 0px;
        width: 47%;
        height: 50px;
        padding: 4px 0 0 15px;
        font-size: 17px;
    }

    .cancel-button {
        width: 47%;
        margin-left: 10px;
        height: 50px;
        padding: 4px 0 0 15px;
        font-size: 17px;
    }
}




/*-----------------------------------------------------
|                     Media 1024px                     |
------------------------------------------------------*/
@media (min-width: 1024px) {


  
    /*------------------------
    | DAILY TRAFFIC SECTION  |
    ------------------------*/
    .daily-traffic-section {
        width: 50%;
    }



    /*------------------------
    |  MOBILE USERS SECTION  |
    ------------------------*/
    .mobile-users-section {
       width: 50%;
    }

    .doughnut-chart{
        margin:40px 10px 10px 60px;
    }
    #mobile-chart {
        margin:0;
    }




    /*------------------------
    |     SOCIAL SECTION     |
    ------------------------*/
    .social-div {
        height: 95px;
    }

    .social-icon-div {
        margin:20px;
        padding: 15px;
        height: 30px;
    }

    .social-fill {
        width:30px;
    }
    
    .social-text{
        font-size: 20px;
    }
    
    .social-numbers{
        font-size: 35px;
    }

    

    /*------------------------
    |   NEW MEMBERS SECTION  |
    ------------------------*/
    .titles {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .new-members-activity {
        display:flex;
        flex-direction: row;
        margin-left: 0px;
    }

    .new-member-section {
        border-right: solid 1px rgb(180, 180, 180);
        width:50%;
    }

    .members-div {
        margin: 30px 17px 0 30px;
    }

    .members-images {
        width: 60px;
    }

    .p-member {
        font-size: 15px;
        padding-left: 10px;
    }

    .date {
        font-size: 15px;
    }



    /*------------------------
    | RECENT ACTIVITY SECTION|
    ------------------------*/
    .recent-activity-section {
        margin-left: 15px;
        width:50%;
    }



    /*------------------------
    |  MESSAGE USER/FOOTER   |
    ------------------------*/
    .message-footer {
        margin-left: 14px;
    }

    .message-footer {
        display:flex;
        flex-direction: row;
        margin-right: 0;
        
    }
    
    .message-section {
        min-width:50%;
        border-right: solid 1px rgb(180, 180, 180);
        border-bottom: none;
      
    }

    .message-title {
        font-size: 15px;
        margin:15px;
    }

    .user-box {
        width:89%;
        font-size: 15px ;
        height: 30px;
        margin: 0 0 0 15px;
        
    }

    .message-box {
        width:87%;
        font-size: 15px ;
        min-height: 88px;
        margin: 18px 0 0 15px;
        align-items: center;
    }

    ::placeholder {
        position: absolute;
        top: 0px;
        color: #b3b3b3;
        padding: 12px 4px;
    }

    .send-button {
        margin: 10px 0 15px 15px;
        height: 47px;
        font-size: 15px;
        padding-top: 15px;
        width: 92.3%;
    }

 


    /*------------------------
    |        SETTINGS        |
    ------------------------*/
    .settings {
        margin-left: 15px;
        width: 50%;
    }

    .swich {
        width: 20%;
        height: 35px;
        margin-left: 50px;
    }

    .swich.public {
        margin-left: 83px;
    }

    .swich:checked::before{
        font-size: 15px;
    }
    
    .swich::before{
        font-size: 15px;
    }
    
    .swich::after {
        height: 20px;
        width: 22px;
    }

    .toggle {
        font-size: 15px;
    }

    .timezone-box {
        height: 50px;
        margin: 25px 0 0 0;
        padding: 0px 15px;
        width: 98%;
        margin-right: 0;
        font-size: 15px;
    }
    
    .select {
        max-width: fit-content;
    }
    .select:after {
        content: '\25BE';
        position: absolute;
        top: 35px;
        right: 30px;
        bottom: 0;
        font-size: 27px;
        text-shadow: 1px 1px 5px rgb(127, 127, 127);
        margin:0;
        background: #f5f5f5;
        color: rgb(124, 122, 208);
        padding: 0px;
        pointer-events: none;
        height: 25px;
    }

    .save-button {
        width: 47%;
        margin: 15px 0 15px 0px;
        height: 47px;
        font-size: 15px;
    }

    .cancel-button{
        margin: 15px 0 15px 10px;
        height: 47px;
        font-size: 15px;
        width: 47%;
    }
}